{% extends 'base.html.twig' %}

{% block title %}Liste des Commentaires{% endblock %}

{% block content %}
<div class="container">
    <h1>Liste des Commentaires</h1>
    
    <a href="{{ path('commentaire_create') }}" class="btn btn-primary mb-3">Créer un nouveau commentaire</a>
    
    {% if commentaires is empty %}
        <p>Aucun commentaire trouvé.</p>
    {% else %}
        <div class="row">
            {% for commentaire in commentaires %}
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Commentaire #{{ commentaire.id }}</h5>
                            <p class="card-text">
                                {{ commentaire.name }}
                                {% if commentaire.burger %}
                                    <br><strong>Burger:</strong> {{ commentaire.burger.name }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}