{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}

{% block content %}
    <h2>Liste des burgers</h2>
    <p>Nos burgers sont préparés avec soin et passion.</p>
{% endblock %}
