{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block content %}
    <h2>Bienvenue sur CRUDcroustillant !</h2>
    <p>Découvrez nos délicieux burgers.</p>
    <img src="{{ asset('burger.jpg') }}" alt="Burger délicieux" width="300">
{% endblock %}
